site: Duet Jekyll Theme

# Default development configuration
url: ""
baseurl: ""

collections:
  pages:
    output: true
    permalink: /:path/
  posts:
    output: true
    permalink: /:categories/:title/
  projects:
    output: true
    permalink: /project/:slug

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  toc_levels: 1..6
  auto_ids: true
  heading_anchors: true
  hard_wrap: false
  footnote_nr: 1
  entity_output: as_char
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  
sass:
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-remote-theme

paginate: 6
paginate_path: "/blog/page:num/"
