name: Jekyll Build

on:
  push:

jobs:
  jekyll_build:
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/Gemfile
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'
        bundler-cache: true
    - name: Update system and install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libcurl4-openssl-dev
    - name: Update RubyGems and Bundler
      run: |
        gem update --system
        gem install bundler
    - name: Install dependencies
      run: |
        bundle config set --local path 'vendor/bundle'
        bundle install
    - name: Build Jekyll site

      run: bundle exec jekyll build --config _config.yml,_config.staging.yml